@model IEnumerable<ProyectoInmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h2>Inquilinos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Inquilino</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Nombre)</th>
            <th>@Html.DisplayNameFor(m => m.First().Apellido)</th>
            <th>@Html.DisplayNameFor(m => m.First().Documento)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var inq in Model)
    {
        <tr>
            <td>@inq.Nombre</td>
            <td>@inq.Apellido</td>
            <td>@inq.Documento</td>
            <td>
                <a asp-action="Details" asp-route-id="@inq.IdInquilino">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@inq.IdInquilino">Editar</a> |
                <a asp-action="Delete" asp-route-id="@inq.IdInquilino">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>